{% extends 'base.html.twig' %}
{% block body %}

{% for item in items %}
    <div class="col-sm-3">
			<div class="card-group shadow-lg p-3 mb-5 bg-white rounded">
				<div class="card">
					<p id="date">{{item.date}}</p>
					<img class="= card-img-top" height="217" width="130"src={{item.image}}>
					<div class="card-body">
						<p id="descriptionEp">{{item.text}}</p>
						<button type="button" class="btn btn-danger align-bottom">
							<a href="{{item.link}}">Assistir</a>
						</button><br>
					</div>
				</div>			
			</div>
		</div>
{% endfor %}
{% endblock %}