body{
	background-color: #000000 !important;
}


.containerTitle {
    background: #111;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn.btn-danger{
	display: block;
    position: absolute !important;
    width: 80%;
    bottom: 0;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 5px;
}



.btn.btn-danger, a{
	background-color: #ff3300 !important;
	text-decoration: none !important;
	color: white !important;	
}


.container{
	width: 24.3%;
	box-sizing: border-box;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 2px;
    min-height: 380px;
    padding: 5px;
}

.card-body{
	height: 210px !important;
	width: auto;
	
}

.col-sm-3{
	margin-top: 2rem;
}


#date{
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
}

#descriptionEp{
    font-weight: 500;
}


.card{
    border-top-left-radius:  15px !important;
    border-top-right-radius:  15px !important;
}